<!----------------------------------------
    STAKING_MAIN
-->

<!----------------------------------------
    LOADS
-->

{% load static %}

<!----------------------------------------
    MAIN
-->

<div class="container-fluid bg-black pt-4 pb-5 staking1">
    <div class="container staking1">
        <div class="row">
            <p class="col text-center fs-1 fw-bolder" style="color: #67AEDB;">
                Que es Staking coins?
            </p>
        </div>
        <div class="row">
            <p class="col text-center fs-5 fw-bold pt-3" style="color: aliceblue;">
                El staking de monedas otorga a los tenedores de divisas cierto poder de decisión en la red. Al apostar monedas, obtiene la capacidad de votar y generar ingresos. Es bastante similar a cómo alguien recibiría intereses por tener dinero en una cuenta bancaria o dárselo al banco para invertir. 
            </p>
        </div>
    </div>
</div>

<div class="container staking2">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <img src={% static "assets/img/STAKING-BOX.png" %} alt="" width="550" class="img-fluid staking2-img">
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 staking2-text">
            <p class="col-xs-12 fs-2 fw-bolder text-center" style="color: black;">
                Cuales son algunos de los beneficios?
            </p>
            <p class="col-12 fs-5 fw-bold text-center staking2-text1" style="color: white;">
                * Uno de los principales beneficios de apostar monedas es que elimina la necesidad de comprar continuamente hardware costoso y consumir energía
            </p>
            <p class="col-12 fs-5 fw-bold text-center staking2-text2" style="color: white;">
                * El sistema ofrece rendimientos garantizados y una fuente de ingresos predecible, a diferencia del sistema de prueba de trabajo en el que las monedas se recompensan a través de un proceso matemático con una baja probabilidad de pago. Otro beneficio es que el valor de sus monedas apostadas no se deprecia a diferencia de los ASIC y otro hardware de minería. Las monedas apostadas solo se ven afectadas por las fluctuaciones de los precios del mercado.
            </p>
        </div>
    </div>
</div>

<div class="container staking3">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="col fs-2 fw-bolder text-center staking3-p1" style="color: black;">
                Privado & Seguro
            </p>
            <p class="col fs-5 fw-bold text-center staking3-p2" style="color: aliceblue;">
                Solo vos podes acceder a tu wallet. No guardamos datos personales.
            </p>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 staking3-img">
            <img src={% static "assets/img/SATKING-APP.png" %}  alt="" width="650" class="img-fluid">
        </div>
    </div>
</div>

<div class="container staking4">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <img class="staking4-img img-fluid" src={% static "assets/img/STAKING-CELL.png" %} alt="" width="500">
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 staking4-text">
            <p class="col-xs-12 fs-2 fw-bolder text-center" style="color: black;">
                ¿Como funciona?
            </p>
            <p class="col-xs-12 fs-5 fw-bold" style="color: white;">
                * Los métodos estándar para apostar suelen ser mantener monedas en su billetera o bloquearlas en un contrato inteligente (masternodes). Algunas monedas agregaron aleatoriedad al proceso de apuesta y votación para que los malos jugadores tengan dificultades para manipular los resultados. 
            </p>
            <p class="col-xs-12 fs-5 fw-bold staking4-text2" style="color: white;">
                * El proceso puede ser similar a una lotería en la que la cantidad de monedas criptográficas que tiene es equivalente a tener una cantidad determinada de boletos de lotería. Los sistemas de participación también pueden permitir la delegación en la que cada individuo delega sus derechos de voto y los ingresos obtenidos a una parte de confianza. Esos delegados luego ganan todas las recompensas por la validación del bloque y pagan a sus seguidores leales algún tipo de dividendos a cambio de su voto.
            </p>
        </div>
    </div>
</div>

<br><br><br><br>