<!----------------------------------------
    HEADER
-->

{% load static %}

<nav class="navbar navbar-expand-lg navbar-black bg-black d-xxl-block d-xl-block d-lg-block d-md-none d-sm-none d-none nav1 fixed-top">
    <div class="container">
        <a class="navbar-brand col-xxl-4 col-xl-4 col-lg-4" href="./index.html">
            {% comment %} <img src={% static "logo/Logo-Blex-completo.png" %} alt="logo" class="navbar-logo"> {% endcomment %}
        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 col-xxl-8 col-xl-8 col-lg-8 justify-content-between">
                <li class="nav-item">
                <a class="nav-link active fs-5 fw-bold" aria-current="page" style="color: aliceblue;" href={% url "inicio" %}>Inicio</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active fs-5 fw-bold" aria-current="page" style="color: aliceblue;" href={% url "market" %}>Market</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active fs-5 fw-bold" aria-current="page" style="color: aliceblue;" href={% url "staking" %}>Staking</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active fs-5 fw-bold" aria-current="page" style="color: aliceblue;" href={% url "earn_main" %}>Earn</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active fs-5 fw-bold" aria-current="page" style="color: aliceblue;" href={% url "about" %}>About</a>
                </li>
                {% if request.user.is_authenticated %}
                <form action={% url "logout" %} method="POST">
                    {% csrf_token %}
                    <input type="submit" class="nav-logout nav-link active fs-5 fw-bold" value="LOGOUT" style="color: white;" >
                </form>
                    <a class="navbar-brand-avatar" href={% url "ver_perfil" %}> <img src={% if request.user.datoextra.avatar %}{{ request.user.datoextra.avatar.url }}{% else %}{{ MEDIA_URL }}media/accounts/avatar_base.png{% endif %} alt="Avatar" height="40px" width="40px">
                {% else %}
                <form action={% url "login" %} method="POST">
                    {% csrf_token %}
                    <input type="submit" class="nav-login nav-link active fs-5 fw-bold" value="LOGIN" style="color: white;" >
                </form>  
                {% endif %}
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href={% url "inicio" %}>Inicio</a></li>
                    <li><a class="dropdown-item" href={% url "market" %}>Market</a></li>
                    <li><a class="dropdown-item" href={% url "staking" %}>Staking</a></li>
                    <li><a class="dropdown-item" href={% url "earn_main" %}>Earn</a></li>
                    <li><a class="dropdown-item" href={% url "about" %}>About</a></li>
                </ul>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-black bg-black d-xxl-none d-xl-none d-lg-none d-md-block d-sm-block d-block nav2">
    <div class="container">
        <a class="navbar2-brand col-xxl-4 col-xl-4 col-lg-4" href="./index.html">
            
            {% comment %} <img src={% static "assets/logo/Logo-Blex-completo.png %} alt="logo" class="navbar2-logo"> {% endcomment %}
            <img class="img-fluid blex-b" src={% static "assets/logo/Logo-Blex.png" %} alt="" width="250">

        </a>
        <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 col-xxl-8 col-xl-8 col-lg-8 justify-content-between">
                <li class="nav2-item">
                <a class="nav2-link active fs-5 fw-bold" aria-current="page" style="color: aliceblue;" href={% url "inicio" %}>Inicio</a>
                </li>
                <li class="nav2-item">
                <a class="nav2-link active fs-5 fw-bold" aria-current="page" style="color: aliceblue;" href={% url "market" %}>Market</a>
                </li>
                <li class="nav2-item">
                <a class="nav2-link active fs-5 fw-bold" aria-current="page" style="color: aliceblue;" href={% url "staking" %}>Staking</a>
                </li>
                <li class="nav2-item">
                <a class="nav2-link active fs-5 fw-bold" aria-current="page" style="color: aliceblue;" href={% url "earn_main" %}>Earn</a>
                </li>
                <li class="nav2-item">
                <a class="nav2-link active fs-5 fw-bold" aria-current="page" style="color: aliceblue;" href={% url "about" %}>About</a>
                </li>
                {% if request.user.is_authenticated %}
                <form action={% url "logout" %} method="POST">
                    {% csrf_token %}
                    <input type="submit" class="nav-logout nav-link active fs-5 fw-bold" value="LOGOUT" style="color: white;" >
                </form>
                    <a class="navbar-brand-avatar" href={% url "ver_perfil" %}> <img src={% if request.user.datoextra.avatar %}{{ request.user.datoextra.avatar.url }}{% else %}{{ MEDIA_URL }}media/accounts/avatar_base.png{% endif %} alt="Avatar" height="40px" width="40px">
                {% else %}
                <form action={% url "login" %} method="POST">
                    {% csrf_token %}
                    <input type="submit" class="nav-login nav-link active fs-5 fw-bold" value="LOGIN" style="color: white;" >
                </form>  
                {% endif %}
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href={% url "inicio" %}>Inicio</a></li>
                    <li><a class="dropdown-item" href={% url "market" %}>Market</a></li>
                    <li><a class="dropdown-item" href={% url "staking" %}>Staking</a></li>
                    <li><a class="dropdown-item" href={% url "earn_main" %}>Earn</a></li>
                    <li><a class="dropdown-item" href={% url "about" %}>About</a></li>
                </ul>
            </ul>
        </div>
    </div>
</nav>

<a href="#" class="btn-flotante"><i class="fa-solid fa-angles-up"></i></a>