<!----------------------------------------
    INICIO
-->

{% load static %}

<div class="container-fluid text-center blex-background  position-fixed" style="background-color: black;">
    <img class="img-fluid blex-b" src={% static "assets/logo/Logo-Blex.png" %} alt="" width="250">
</div>

<div class="container-fluid" style="background-color: black;">
    <div class="container inicio" >
        <div class="row inicio-row">
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 inicio-text">
                <div class="row">
                    <div class="col fs-2 fw-bold inicio1" style="color: white;">
                        <p>La billetera multimoneda más segura y confiable</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col fs-5 inicio2" style="color: aliceblue;">
                        <p>Comprar, almacenar, ver precios, recoger los NFT, intercambiar y ganar criptomonedas, y es por eso que más de 10M de personas usan Blex</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-0 col-sm-0 col-0 inicio-img">
                <img src={% static "assets/img/BTC-PNG.gif" %} alt="" width="320" class="img-fluid btc-img">
            </div>
        </div>
    </div>
</div>