<!----------------------------------------
    MARKET_MAIN
-->

<!----------------------------------------
    LOADS
-->

{% load static %}

<!----------------------------------------
    MAIN
-->

<br>
<br>
<br>
<br>

<div class="container mercado">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mercado-cell">
            <img src={% static "assets/img/MERCADO-CARDS.png" %} alt="" width="650" class="img-fluid">
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="row">
                <div class="col fs-2 fw-bolder text-center mercado-p1" style="color: black;">
                    <p>Más de 1 millón de activos compatibles</p>
                </div>
            </div>
            <div class="row">
                <div class="col fs-5 fw-bold text-center mercado-p2" style="color: aliceblue;">
                    <p>Compre y almacene todas sus monedas y tokens en una billetera móvil única y segura. La aplicación admite 53 cadenas de bloques y más de 1 millón de activos</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mercado2">
    <div class="row mercado2-row1">
        <div class="col-12 col-sm-12 fs-2 fw-bolder text-center" style="color: black;">
            <p>Todo lo que necesitas en un solo lugar</p>
        </div>
    </div>
    <div class="row mercado2-row2">
        <div class="col-md-1 col-sm-1 text-end" style="color: #32a071;">
            <i class="fa-solid fa-circle-check mercado2-check"></i>
        </div>
        <div class="col-md-5 col-sm-11 fs-5 fw-bold" style="color: white;">
            <p1>Obtenga, intercambie y mantenga muchas criptomonedas diferentes</p1>
        </div>
        <div class="col-md-1 col-sm-1 text-end" style="color: #32a071;">
            <i class="fa-solid fa-circle-check mercado2-check"></i>
        </div>
        <div class="col-md-5 col-sm-11 fs-5 fw-bold" style="color: white;">
            <p2>Manténgase privado y seguro almacenando sus monedas de privacidad</p2>
        </div>
    </div>
    <div class="row mercado2-row3">
        <div class="col-md-1 col-sm-1 text-end" style="color: #32a071;">
            <i class="fa-solid fa-circle-check mercado2-check"></i>
        </div>
        <div class="col-md-5 col-sm-11 fs-5 fw-bold" style="color: white;">
            <p3>Almacene monedas estables para evitar la volatilidad del mercado</p3>
        </div>
        <div class="col-md-1 col-sm-1 text-end" style="color: #32a071;">
            <i class="fa-solid fa-circle-check mercado2-check"></i>
        </div>
        <div class="col-md-5 col-sm-11 fs-5 fw-bold" style="color: white;">
            <p4>Compre más criptomonedas con su tarjeta de crédito</p4>
        </div>
    </div>
    <div class="row mercado2-row4">
        <div class="col-md- col-sm-1 text-end" style="color: #32a071;">
            <i class="fa-solid fa-circle-check mercado2-check"></i>
        </div>
        <div class="col-md-5 col-sm-11 fs-5 fw-bold" style="color: white;">
            <p5>Gane fácilmente intereses sobre las criptomonedas en su billetera</p5>
        </div>
        <div class="col-md-1 col-sm-1 text-end" style="color: #32a071;">
            <i class="fa-solid fa-circle-check mercado2-check"></i>
        </div>
        <div class="col-md-5 col-sm-11 fs-5 fw-bold" style="color: white;">
            <p6>Cambie o intercambie sus activos en segundos</p6>
        </div>
    </div>
</div>

<div class="container mercado3">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mercado3-text">
            <p class="col fs-2 fw-bolder text-center mercado-p1" style="color: black;">
                Cambia rapidamente
            </p>
            <p class="col fs-5 fw-bold text-center mercado-p2" style="color: aliceblue;">
                Sin formularios, sin selfies. Tradea crypto cuando quieras.
            </p>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mercado3-img">
            <img src={% static "assets/img/MERCADO-EXC.png" %} alt="" width="650" class="img-fluid">
        </div>
    </div>
</div>

<div class="container mercado4">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mercado4-img">
            <img src={% static "assets/img/INICIO-NFT.png" %} alt="" width="650" class="img-fluid">
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mercado4-text">
            <p class="col fs-2 fw-bolder text-center" style="color: black;">
                Todos los NFTs en un solo lugar
            </p>
            <p class="col fs-5 fw-bold text-center" style="color: aliceblue;">
                Blex Wallet, te ofrece una forma facil de acceder y almacenar tus NFTs.
            </p>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>