<!----------------------------------------
    EARN MAIN
-->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<!----------------------------------------
    HEAD

    
-->


{% include 'head.html' %}


<!----------------------------------------
    HEADER
-->
{% include 'header.html' %}


<!----------------------------------------
    MAIN
-->


<div class="container-fluid earn" style="background-color: black;">
    <div class="row">
        <div class="col-xs-12 fs-2 fw-bolder text-center" style="color:#67AEDB;">
            <p>
                Gana criptomonedas mientras duermes
            </p>
        </div>
        <div class="col-xs-12 fs-5 fw-bold text-center" style="color: white;">
            <p>
                Staking pone sus activos a trabajar, con tasas de interés de hasta 11% APR.
            </p>
        </div>
    </div>
</div>


<br>

<div class="row about-text">
    <div class="col-12 col-sm-12 fs-2 fw-bolder text-center" style="color: black;">
        <p>Crea tu propia moneda!</p>
    </div>
</div>

<div class="button-container earn_crear_moneda">
    <a href={% url 'agregar_monedas' %} class="btn fw-bolder" style="color:#67AEDB;">
        Crear Moneda
    </a>
</div>

<br>
<br>
<br>

{% if monedas %}
    <ul>
        {% for moneda in monedas %}
        <li class="fs-5 fw-bold text-center">{{ moneda.nombre }} |
            <a href={% url "ver_monedas" moneda.pk %}>Ver</a>  |
            <a href={% url "eliminar_monedas" moneda.pk %}>Eliminar</a> |
            <a href={% url "editar_monedas" moneda.pk %}>Editar</a> |
        </li>
        {% endfor %}
    </ul>
{% else %}
<div class="row about-text">
    <div class="col-12 col-sm-12 fs-2 fw-bolder text-center" style="color: black;">
        <p>No hay monedas disponibles.</p>
    </div>
</div>
{% endif %}

<br>
<div class="row about-text">
    <div class="col-12 col-sm-12 fs-4 fw-bolder text-center moneda_texto" style="color: black;">
        <form action={% url "earn_main" %}>
            {{formulario_bus}}
            <br>
            <input type="submit" class="earn-buscar nav-link active fs-5 fw-bold" value="BUSCAR" style="color: #67AEDB" >
        </form>
    </div>
</div>
<br>


<div class="container earn1">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 earn1-text">
            <p class="fs-2 fw-bolder text-center" style="color: black;">
                Gana hasta un 11% APR
            </p>
            <p class="fs-5 fw-bold text-center" style="color: white;">
                Todo es tuyo. Recuperará todas sus criptomonedas apostadas junto con sus ganancias.
            </p>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 earn1-img">
            <img src={% static "assets/img/EARN-APR.png" %} alt="" width="650" class="img-fluid">
        </div> 
    </div>
</div>

<div class="container eanr2">
    <div class="row">
        <div class="col-xs-12">
            <p class="fs-2 fw-bolder text-center" style="color: black;">
                Blex Wallet te permite apostar con las siguientes monedas
            </p>
        </div>
        <div class="col-md-1 col-sm-12 eanr2-logo">
            <img class="rounded-circle" src={% static "assets/img/Earn/img1.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 col-sm-12 earn2-text">
            <p1 class="fs-5 fw-bold" style="color: white;">Binance Coin (BNB)</p1>
        </div>
        <div class="col-md-1 eanr2-logo">
            <img class="rounded-circle" src={% static "assets/img/Earn/img5.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 earn2-text">
            <p2 class="fs-5 fw-bold" style="color: white;">TRON (TRX)</p2>
        </div>
        <div class="col-md-1 eanr2-logo">
            <img class="rounded-circle" src={% static "assets/img/Earn/img9.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 earn2-text">
            <p3 class="fs-5 fw-bold" style="color: white;">Tezos (XTZ)</p3>
        </div>
        <div class="col-md-1 eanr2-logo">
            <img class="rounded-circle" src={% static "assets/img/Earn/img2.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 earn2-text">
            <p4 class="fs-5 fw-bold" style="color: white;">Cosmos (ATOM)</p4>
        </div>
        <div class="col-md-1 eanr2-logo">
            <img class="rounded-circle" src={% static "assets/img/Earn/img6.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 earn2-text">
            <p5 class="fs-5 fw-bold" style="color: white;">Terra (LUNA)</p5>
        </div>
        <div class="col-md-1 eanr2-logo">
            <img class="rounded-circle" src={% static "assets/img/Earn/img10.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 earn2-text">
            <p6 class="fs-5 fw-bold" style="color: white;">VeChain (VET)</p6>
        </div>
        <div class="col-md-1 eanr2-logo">
            <img class="rounded-circle" src={% static "assets/img/Earn/img3.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 earn2-text">
            <p7 class="fs-5 fw-bold" style="color: white;">Callisto (CLO)</p7>
        </div>
        <div class="col-md-1 eanr2-logo">
            <img lass="rounded-circle" src={% static "assets/img/Earn/img7.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 earn2-text">
            <p8 class="fs-5 fw-bold" style="color: white;">Osmosis (OSMO)</p8>
        </div>
        <div class="col-md-1 eanr2-logo">
            <img class="rounded-circle" src={% static "assets/img/Earn/img11.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 earn2-text">
            <p9 class="fs-5 fw-bold" style="color: white;">Kava (KAVA)</p9>
        </div>
        <div class="col-md-1 eanr2-logo rounded-circle">
            <img class="rounded-circle" src={% static "assets/img/Earn/img4.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 earn2-text">
            <p10 class="fs-5 fw-bold" style="color: white;">TomoChain (TOMO)</p10>
        </div>
        <div class="col-md-1 eanr2-logo">
            <img class="rounded-circle" src={% static "assets/img/Earn/img8.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 earn2-text">
            <p11 class="fs-5 fw-bold" style="color: white;">IoTeX (IOTX)</p11>
        </div>
        <div class="col-md-1 eanr2-logo">
            <img class="rounded-circle" src={% static "assets/img/Earn/img12.png" %} alt="" width="42">
        </div>
        <div class="col-md-3 earn2-text">
            <p12 class="fs-5 fw-bold" style="color: white;">Algorand (ALGO)</p12>
        </div>
    </div>
</div>

<div class="container earn3">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <p class="col fs-2 fw-bolder text-center earn3-p1" style="color: black;">
                Privado & Seguro
            </p>
            <p class="col fs-5 fw-bold text-center earn3-p2" style="color: aliceblue;">
                Solo vos podes acceder a tu wallet. No guardamos datos personales.
            </p>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 earn3-img">
            <img src={% static "assets/img/EARN-LLAVE.png" %} alt="" width="650" class="img-fluid">
        </div>
    </div>
</div>


<br>

<!----------------------------------------
    INCLUDE FOOTER
-->

{% include 'footer.html' %}