<!----------------------------------------
    LOGOUT_MAIN
-->

<!----------------------------------------
    LOADS
-->

{% load static %}

<!----------------------------------------
    MAIN
-->


<div class="container-fluid" style="background-color: black;">
    <div class="container accounts_logout" >
        <div class="row inicio-row">
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 inicio-text">
                <div class="row">
                    <div class="col fs-2 fw-bold inicio1" style="color: white;">
                        <p>Cerraste sesion correctamente!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
